{%extends 'base.html'%}
{%block body%}

<FONT FACE=" Arial" SIZE="4">
{% if current_user.is_authenticated %}
<h3>На сайте есть четыре раздела:</h3>
<h3>1. Дневник путешественника</h3>
<p>     В нём вы можете делать записи о своих поездках, сопровождая их геолокацией</p>
<h3>2. Чужие записи</h3>
<p>     В нём вы можете просматривать записи других людей. Если хотите, чтобы вашу запись видели другие люди, то сделайте её публичной</p>
<h3>3. Поиск места</h3>
<p>     Тут все просто: вводите адрес и получаете его на карте</p>
<h3>4. Расчёт расстояния</h3>
<p>     Введите два адреса и вы узнаете расстояние между ними</p>
<h3>Для навигации по сайту воспользуйтесь меню в верхней части.</h3>
{% else%}
<p> Приветствую! Вы находитесь на главной странице моего сайт.</p>
<p>Чтобы продолжить взаимодействие с сайтом войдите в аккаунт(Создайте его, если его нет)</p>
{% endif %}
{%endblock%}