{% extends "base.html" %}

{% block body %}
<FONT FACE=" Arial" SIZE="4">
    {% if current_user.is_authenticated %}
    <img src={{image}} align="left">
    {% else %}
    <p>Тебе тут делать нечего</p>
    {% endif %}
    <p align="left">Выберите или создайте метку</p>
    {% if img != "Фотографий нет" or img != ""%}
    <br>
    <img src={{img}} align="right">
    {% endif %}
    {%for i in tag_list%}
    <a href={{i["url"]}}>{{i["name"]}}</a>
    <br>
    {%endfor%}
<br>
{%if tag != "-1"%}
    <p>{{name}}</p>
    <p>{{location}}</p>
    {{text}}
{% endif %}
{% endblock %}